@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

/* Seccion Main */
.container-background{
    background-image: url(../img/background-hero.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 53, 53, 0.24);
}

    /* Navbar */
.navbar{
    height: 120px;
}
.navbar-brand img{
    width: 120px;
    height: 120px;
}
.navbar-nav{
    font-size: 25px;
    text-decoration: none;
}
.nav-item{
    padding-right: 30px;
}
.nav-item a{
    color: #ffff;
    font-family: 'Bree Serif', serif;
}
.nav-item a:hover{
    color: #ff6600;
    animation:shake-vertical 0.8s linear both
}
@keyframes shake-vertical{
    0%,100%
        {transform:translateY(0)}
    10%,30%,50%,70%
        {transform:translateY(-8px)}
    20%,40%,60%
        {transform:translateY(8px)}
    80% 
        {transform:translateY(6.4px)}
    90%
        {transform:translateY(-6.4px)}
}

/* Seccion Hero */
.container-hero{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.container-hero h1{
    color: #ffff;
    font-size: 58px;
    font-family: 'Bree Serif', serif;
    user-select: none;
    z-index: 1;
}
.container-hero h2{
    font-family: 'Bree Serif', serif;
    color: #ffff;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    filter: blur(2px);
    user-select: none;
    animation: teclear 3s steps(16), efecto .5s step-end infinite;
}
@keyframes teclear{
    from{
        clip-path: polygon(0 0,0 0,0 100%,0% 100%);
    }
    to{
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    }
}
@keyframes efecto{
    50%{
        border-color: transparent;
    }
}
.container-enlaces-hero{
    width: 80px;
    height: 350px;
    position: relative;
    left: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.container-enlaces-hero a img{
    width: 40px;
    height: 40px;
    filter: invert(100%);
}
.container-enlaces-hero a img:hover{
    animation:rotate-scale-down .8s linear both;
}
@keyframes rotate-scale-down{
    0%{transform:scale(1) rotateZ(0)}
    50%{transform:scale(.5) rotateZ(180deg)}
    100%{transform:scale(1) rotateZ(360deg)}
}

/* Seccion Nosotros y ¿porque elegirnos? */
.nosotros{
    width: 100%;
    background-image: url(../img/background-seccion2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
}
.container-section{
    background: #02020293;
    border-radius: 60px;
    padding: 20px 0;
}
.container-nosotros{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.txt-nosotros{
    width: 40%;
    margin-top: 50px;
    margin-left: 50px;
}
.txt-nosotros h2{
    font-family: 'Playfair Display', serif;
    color: #ffce9f;
    text-decoration:underline 2px;
    font-size: 38px;
    user-select: none;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
}
.txt-nosotros p{
    font-family: 'Rancho', cursive;
    color: #ffffff;
    user-select: none;
    font-size: 36px;
}
.img-nosotros img{
    width: 500px;
    clip-path: ellipse(50% 40% at 50% 50%);
}


/* ¿porque elegirnos? */
.container-pq-elegirnos{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lines-effect h1{
    display: inline-block;
    position: relative;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    user-select: none;
    font-weight: 600;
    font-size: 38px;
}
.lines-effect h1::after , .lines-effect h1::before{
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    top: 0.6em;
}
.lines-effect h1::before{
    left: -280px;
}
.lines-effect h1::after{
    right: -280px;
}
.container-img-txt{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.img-txt{
    padding: 0 60px;
}
.img-txt h3{
    width: 150px;
    font-family: 'Rancho', cursive;
    color: #ffff;
    user-select: none;
    font-size: 36px;
    text-align: center;
}
.img-txt img{
    width: 150px;
    height: 150px;
    filter: invert(100%);
}


/* Seccion Footer */
footer{
    width: 100%;
}
.map-container iframe{
    width: 100%;
}
.container-footer{
    background-color: #ffc861;
}

.container-enlaces-footer{
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.enlace-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enlace-txt img{
    width: 120px;
    height: 120px;
}
.enlace-txt h3{
    font-family: 'Playfair Display', serif;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    user-select: none;
}
.linea-decorativa{
    padding-bottom: 30px;
}

.txt-copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt-copyright h5{
    color: #000;
    user-select: none;
}


/* MEIDAS QUERY */
@media screen and (max-width: 1024px) {
    .lines-effect h1::after , .lines-effect h1::before{
        display: none;
    }
}
